RewriteEngine On
RewriteCond %{QUERY_STRING} action=reset
RewriteRule ^ %{REQUEST_URI} [R,QSD]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/([0-9]*)/?$ /test/index.php?controller=$1&id=$2 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/?$ /test/index.php?controller=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/([0-9]*)/?$ /test/index.php?ver=$1&controller=$2&id=$3 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/?$ /test/index.php?ver=$1&controller=$2 [QSA,L]

 