RewriteEngine On
RewriteBase /


RewriteCond %{QUERY_STRING} !(^|&)query($|=) [NC]
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule "^sparql$" "/rdf/sparqlweb.html" [L]

RewriteCond %{QUERY_STRING} !(^|&)query($|=) [NC]
RewriteCond %{REQUEST_METHOD} !=POST
RewriteRule "^sparql/$" "/sparql" [R,L]


RewriteCond %{QUERY_STRING} !(^|&)query($|=) [NC]
RewriteCond %{REQUEST_METHOD} !=POST
RewriteRule "^sparql/(.+)$" "/rdf/$1" [L]


RewriteCond %{QUERY_STRING} (^|&)query($|=)  [NC,OR]
RewriteCond %{REQUEST_METHOD} POST
RewriteRule "^sparql(.*)$" "http://localhost:3030/pnm/sparql" [QSA,P,L]

RewriteRule ^/?$ https://pnm.uni-mainz.de/names/ [QSA,R=301,L]

RewriteCond %{QUERY_STRING} action=reset
RewriteRule ^ %{REQUEST_URI} [QSD,R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/([-\.\sA-Zı̓ı͗ı҆i̓i͗i҆ỉI̓I͗I҆ỈꜣꜢꜤꜥḥẖšṯḏqHḤḪH̱SŠTṮDḎ⸗a-z0-9'+]*)/?$ /index.php?controller=$1&id=$2 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/?$ /index.php?controller=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/([-\.\sA-Zı̓ı͗ı҆i̓i͗i҆ỉI̓I͗I҆ỈꜣꜢꜤꜥḥẖšṯḏqHḤḪH̱SŠTṮDḎ⸗a-z0-9'+]*)/?$ /index.php?ver=$1&controller=$2&id=$3 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/?$ /index.php?ver=$1&controller=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*)([^a-z/]+)(.*)/?$ /index.php [QSA,L]
 
#    $findchars = array('ı̓', 'ı͗', 'ı҆', 'i̓', 'i͗', 'i҆', 'ỉ', 'I̓', 'I͗', 'I҆', 'Ỉ', 'ꜣ', 'Ꜣ', 'ȝ', 'Ȝ', 'Ꜥ', 'ꜥ', 'ʿ', '', '', '', '', '', '', '', '', '', '', 'ḥ', 'ẖ', 'š' 'ṯ', 'ḏ', 'q', 'H', 'Ḥ', 'Ḫ', 'H̱', 'S', 'Š', 'T', 'Ṯ', 'D', 'Ḏ', ⸗);
#                    $equal = "⸗";
#                    $replacechars = array('&quot;', 'ḫ', $aleph, $ayin, $yodsmall, 'ḥ', 'ẖ', $saccent, 'š', $kdot, 'ṯ', 'ḏ', 'q', 'H', 'Ḥ', 'Ḫ', 'H̱', 'S', 'Š', 'T', 'Ṯ', 'D', 'Ḏ', $kdotUC, $yodcap, 'Q', $saccentUC, 'h̭', 'ṱ', $equal);