RewriteEngine On

#RewriteCond %{QUERY_STRING} ^(.+?&)?[^=]+=(?:&(.*))?$
#RewriteRule ^ %{REQUEST_URI}?%1%2 [R=302,NE]
RewriteRule ^$ /test3/names [QSA,R=301]

RewriteCond %{QUERY_STRING} action=reset
RewriteRule ^ %{REQUEST_URI} [R,QSD]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/([\sA-Za-z0-9'+]*)/?$ /test3/index.php?controller=$1&id=$2 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([a-z]*)/?$ /test3/index.php?controller=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/([\sA-Za-z0-9'+]*)/?$ /test3/index.php?ver=$1&controller=$2&id=$3 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?([0-9]*)/([a-z]*)/?$ /test3/index.php?ver=$1&controller=$2 [QSA,L]

 